## Task
Your task is to calculate the 50-day and 200-day moving averages based on the closing price, and identify every 'Golden Cross' moment - when the short-term average (50-day) crosses from below to above the long-term average(200-day) - signaling a potential bull market.

In the end, What was the close price on the data of the most recent 'golden cross' ?

## Explanation
We need to create 3 more columns
1. 50 day moving average - slide/roll window on a 50 day period and calculate mean() each time, the minimum days to collect in a window should be 50
2. 200 day moving average - Same as 50 days its just for 200 days
3. gc - golden cross - Check for 2 conditions
   - When did 50 day average crossed the 200 day average - keep a pin on this
   - Check if before this pin was 50 day less the 200 day average
   - If above 2 conditions meet assign value to gc as 1 else default 0

## Load Libraries

In [1]:
import pandas as pd

## Load Data

In [29]:
path_to_repo = ''
spy_data = pd.read_csv(path_to_repo+'/dataset/SPY_close_price_5Y.csv', parse_dates=['Date'])
spy_data.head()

        Date   Close
0 2020-11-02  330.20
1 2020-11-03  336.03
2 2020-11-04  343.54
3 2020-11-05  350.24
4 2020-11-06  350.16

### Use rolling
Rolling works like a sliding window, it selects a few elements given by `window` attribute, then move forward by selecting another `window` number of elements
`min_periods` stops the rolling from performing operation on the elements until that much elements have been selected in window
i.e in case of ma_50

window size is 50, until 50 elements have been selected in the window `mean()` wont be calculated.

In [25]:
## A simple example of rolling 
# With actual data
example_df = pd.DataFrame({'Close': [100, 102, 101, 103, 105]})

# Using the lambda
ma_50 = lambda d: d['Close'].rolling(window=50, min_periods=50).mean()
result = ma_50(example_df)

# Row 0-48: NaN (not enough data)
# Row 49: average of rows 0-49
# Row 50: average of rows 1-50
# Row 51: average of rows 2-51

In [5]:
spy_data = spy_data.assign(
    ma_50 = lambda d: d['Close'].rolling(window=50, min_periods=50).mean(),
    ma_200 = lambda d: d['Close'].rolling(window=200, min_periods=200).mean(),
    gc = lambda d: ((d['ma_50'] > d['ma_200']) & (d['ma_50'].shift(1) <= d['ma_200'].shift(1))).astype(int)
)

In [11]:
spy_data.dtypes

Date      datetime64[ns]
Close            float64
ma_50            float64
ma_200           float64
gc                 int64
dtype: object

In [17]:
result_df = spy_data[spy_data['gc'] == 1]

In [18]:
type(result_df)

pandas.core.frame.DataFrame

In [19]:
result_df.head()

           Date   Close     ma_50     ma_200  gc
566  2023-02-02  416.78  394.3504  394.25025   1
1169 2025-07-01  617.65  583.0978  582.04155   1

In [21]:
answer = result_df.sort_values('Date', ascending=False).iloc[0]['Close']

In [22]:
print(f'Close price of latest golden cross is : {answer}')

Close price of latest golden cross is : 617.65